{% extends 'base.html' %}

{% block head %}
    {% load static %}
    <title>DataAnnotator - Rapid Annotation, Powered by AUT RND Group</title>
    <link href="{% static 'css/TestingPage.css' %}" rel="stylesheet" />
    <script src="{% static 'js/TestingPage.js' %}"></script>
{% endblock %}

{% block content %}
    {% csrf_token %}
    <title> EXAMPLE </title>
    <style>
        .myDivTwo
		{
			background-color: royalblue;
			text-align: left;
			border: 4px outset red;
		}
    </style>
    <div class="landing-container unselectable">
        <p class="tagline">
            <span class="tagline-component tagline-component-main">
                SignUp Page
            </span>
            
            <span class="tagline-component tagline-component-sub">
                Please enter your credentials below
                <hr>
            </span>
        </p>
        
        <div class="myDivTwo">
            <br><br>
            <body>
                <form name = "posting_status" method = "post">
                    Valied  Email : <input type = "text" name = "email" id = "email" size = "42">
                    <br><br>
                    Re-Enter Email: <input type = "text" name = "emailV1" size = "40" pattern = "[0-9a-zA-z,.?!\s]+[.?!,a-zA-Z0-9\s]*">
                    <br><hr><br><br><br>
                    Enter Username    : <input type = "text" name = "user" id = "user" size = "33">
                    <br><br>
                    Re-Enter Username : <input type = "text" name = "user" id = "user" size = "30">
                    <br><hr><br><br><br>
                </form>
            </body>
        </div>
        <hr><br>
    </div>
{% endblock %}